h1 {
    color: purple;
    font-size: 48px;
}

p {
    color: black;
    font-size: 12px;
}

button {
    background-color: purple;
    color: white;
    border-radius: 4px;
}

#raidSuggestionList:empty {
    display: none;
}

#raidSuggestionListContainer{
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
}

#raidSuggestionList {
    list-style-type: none;
    /* block = Vertical, inline = Horizontal */
    margin-block-end: 0;           
    margin-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0; 
    padding-left: 0; 
}

#raidSuggestionList li {
    background: #725d17;
    color: #FFFFFF;
    padding: 0.5rem 0.5rem;
    margin: 0.2rem 0.2rem;
}

#raidVotingContainer{   
    border: black 1px solid;
    padding: 0 10px 10px 10px;
}

#raidVotingContainer > div {   
    display: flex;
    justify-content: space-around;
    
}

.raidTargetVoteDisplay {  
    flex: 1;
    margin: 5px;
    border: gray 1px dashed; 
    text-align: center;
    background-color: #DDDDDD;
    position: relative;
}

.raidTargetVoteDisplay .name {   
    font-size: 40px;
}

.raidTargetVoteDisplay > img {   
    width: 400px;
}

.raidTargetVoteDisplay .category {   
    font-size: 24px;
}

.raidTargetVoteDisplay .title {   
    font-size: 20px;
    font-weight: bold;
}

.raidTargetVoteDisplay .viewers {   
    font-size: 24px;
}

.raidTargetVoteDisplay .followers {   
    font-size: 24px;
}

#raidVoteWinnerContainer{
    background: #CCCCCC;
    text-align: center;
    border: red 8px solid;
    width: 90vw;
    min-height: 50vh;   
    margin: auto; 
}

#raidVoteWinnerContainer > h1 {
    font-size: 60px;
}

#raidVoteWinnerContainer > h2 {
    font-size: 24px;
}

#raidVoteWinnerContainer > img {
    height: 360px;
    width: 640px;
}

#raidVoteWinnerContainer > p {
    font-size: 18px;
}

.voteAmountDisplay{
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 0%;
    left: 50%;
    width: 100px;
    height: 100px;
    
    border-radius: 20px;
    border: rgb(161, 136, 51) 4px solid;
    background: #131212;
    
    /* padding-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.voteAmountDisplay > p {   
    color:  rgb(224, 188, 68);
    font-size: 40px;
    margin: 0 0;
}

#votingTimer {
    font-size: 24px;
    font-weight: bold;
}

#suggestionTimer {
    font-size: 48px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(224, 188, 68);
    margin: 0 0;
}


.hidden {
    display: none;
}