<template>

    <div>
        I'm a Vue app!
    </div>

</template>
<script>

    export default {

        name: 'RaidSuggestions',

        data() {
            return {
                votingMap: new Map(),
            };
        },
        computed: {

        },
        methods: {

        },

    }

</script>
